<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Calendar</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="{{url_for('diary.manage_todo') }}">Your ToDo</a>
        <div id="monthDisplay"></div>
        <div>
          <button id="backButton">Back</button>
          <button id="nextButton">Next</button>
          <button class="btn btn-primary" onclick="history.back();" type="button">Previous page</button>

        </div>
      </div>

      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="newEventModal">
      <h2>New Event</h2>
      <input id="eventTitleInput" placeholder="Event Title"/>

      <button id="saveButton">Save</button>
      <button id="redirectButton" type="button">Redirect</button>
      <button id="cancelButton">Cancel</button>
    </div>

    <div id="deleteEventModal">
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="redirectButton1" type="button">Redirect</button>
      <button id="closeButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>

    <script src="/static/js/calendar.min.js"></script>
  </body>
</html>