<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Your Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
    <script>$( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#start_date" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#end_date" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
  </script>
</head>
<body>
<div id="myDIV" class="header">
  <h2>My Event List</h2>
  {% if events %}<table>
      <tr><td>Id</td><td>Name<td>Start Date<td>End Date<td>Important level<td></td></tr>
      {% for event in events %}
      <tr>
        {% for element in event %}
          {% if element.name != 'id' %}
            <td>{{ element }}</td>
          {% endif %}
        {% endfor %}
      <td></tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
  <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name" required=""></div>
      <label for="start_date">From<div class="mb-3"><input class="form-control" type="text" id="start_date" name="start_date" placeholder="Start Date"></div></label>
      <label for="end_date">To<div class="mb-3"><input class="form-control" type="text" id="end_date" name="end_date" placeholder="End Date"></div></label>
      <div class="mb-3"><input class="form-control" type="text" name="classes" placeholder="Important level" required=""></div>
      <div class="mb-3"><button class="btn profile-title" type="submit" name="btn" value="add">Save</button></div>
    </form>
    <form method="post">
    <div class="container">
        {% if events %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <select name="list" class="form-control" data-style="btn-primary" style="width:10%">
                {% for event in events %}
                        <option value="{{event[0]}}">{{ event[0] }}</option>
                    {% endfor %}
            </select>
        <button type="submit" name="btn" value="Complete" class="btn-primary" style="background-color: #3C5268FF; width:10%">Complete</button>
        {% endif %}
    </div>
    </form>
</body>
</html>
