{% extends 'base.html' %}
    {% block title %}Manage{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/Pretty-Search-Form.css')}}">
{% endblock %}
{% block content %}
    <form class="search-form" method="post" style="width: 480px;height: 30px;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="input-group"><span class="input-group-text" style="background: rgb(233, 236, 239);"><i class="fa fa-search"></i></span><input class="form-control" name="search_hash" type="text" maxlength="7" placeholder="I am looking for a team with this hash" style="width: 220px;"><button type="submit" class="btn btn-light" name="btn" type="button" value="search" style="background: rgb(233,236,239);">Search </button></div>
    </form>
    <div class="search-form">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group mb-3" style="width: 300px;height: 30px;"><span class="input-group-text">Name</span><input type="text" class="form-control" name="name" placeholder="Team Name"></div>
            <div class="input-group mb-3" style="width: 200px;height: 30px;"><span class="input-group-text">Hash</span><input class="form-control-sm form-control" type="text" name="hash" maxlength="7" placeholder="hash" style="width: 100px;"></div>
            <div class="input-group mb-3" style="width: 400px;height: 30px;"><span class="input-group-text">Password</span><input type="password" name="password" class="form-control" placeholder="password"></div><button class="btn btn-primary" type="submit" name="btn" value="create" style="transform: perspective(0px) translate(576px) translateX(-156px) translateY(-95px);background: rgb(233,236,239);color: rgb(35,32,32);">Create</button>
        </form>
    </div>
    <div class="container"><button class="btn btn-primary" onclick="location.href={{url_for('diary.index')}}" type="button">Back To Calendar</button></div>
{%endblock%}
