{% extends 'base.html' %}
    {% block title %}Our ToDo{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/todo.css')}}">
<script src="{{url_for('static', filename='js/todo.js')}}"></script>
{% endblock %}
{% block content %}
    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">TODO List</h1>
      <p><mark>Do it now.</mark></p>
    </main>

    {% if current_user_role == 'Creator' %}
    <div class="container">

        <!-- Button trigger modal -->
        <div style="text-align: right;">
        <button type="button"class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
														data-bs-target="#task-modal" data-source="New Task">Add Task</button>
        </div>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Add a task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Task</span>
                    <input type="text" class="form-control" placeholder="Name of task" name="event"
													aria-label="task-name" aria-describedby="basic-addon1">
                    <span class="input-group-text">User mail</span>
                    <input type="email" class="form-control" name="mail" placeholder="User mail"
													aria-label="task-name" aria-describedby="basic-addon1">
                    <span class="input-group-text">Status</span>
                    <input type="text" class="form-control" name="status" placeholder="Status"
													aria-label="task-name" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="btn" value="add" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
        </form>
    </div>
    {% endif %}

    <div class="container table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th class="task-id">Id</th>
            <th class="task">Task</th>
            <th class="username">Username</th>
            <th class="status">Status</th>
            <th class="update">Complete</th>
        </tr>
        </thead>
        {% if todos %}
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{todo.id}}</td>
                <td>"{{todo.event}}"</td>
                <td>{{todo.username}}</td>
                <td>{{todo.status}}</td>
                {% if todo.username == name %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <td><button type="submit" name="btn" class="btn btn-outline-info btn-sm" value={{todo.id}}><i class="fa fa-pen fa-1"></i>Complete
                </button></td></form>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
    </div>
<div class="container"><button class="btn btn-primary" onclick="location.href={{url_for('diary.index')}}" type="button">Back To Calendar</button></div>

{% endblock %}
