@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html, body {
    width: 100%;
    height: 100%;

}

.login-clean {
    position: relative;
    padding: 10%;
    height: 100%;
}

.masthead {
    height: 65%;
}

.btn-s {
    background: rgb(122, 126, 132);
    transform: skew(0deg);
    border-radius: 6px;
}

.custom-btn {
    border-radius: 12px;
    align-items: center;
    background: rgb(125, 127, 132);
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


.profile-title {
    border-radius: 12px;
    align-items: center;
    background: rgb(125, 127, 132);
    color: #ffffff;
    position: relative;
    left: 44%;
    transform: translate(-44%, 0);
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: 1px solid white;
    padding: 0 1rem;
}

.mb-3, .field {
    font-family: 'Open Sans', sans-serif;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    /* Set the fixed height of the footer here */
    line-height: 1.5em;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

hr {
    width: 50%;
    margin: auto;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table tr {
    text-align: center;
    vertical-align: middle;
}
