{% extends 'base.html' %}
    {% block title %}Edit Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/Profile-Edit-Form.css')}}">
{% endblock %}

{% block content %}
    <div class="container profile profile-view" id="profile">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info alert-dismissible absolute center" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row profile-row">
                <div class="col-md-8">
                    <h1>Profile </h1>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3"><label class="form-label">Username {{ user.username }} <br> </label><input class="form-control" type="text" name="username"></div>
                        </div>
                    </div>
                    <div class="form-group mb-3"><label class="form-label">Email {{ user.email }} <br> </label><input class="form-control" type="email" name="email"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3"><label class="form-label">Password </label><input class="form-control" type="password" required="" name="password"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">EDIT </button><button class="btn btn-danger form-btn" type="button" onclick="history.back()">CANCEL</button></div>
                    </div>
                </div>
                <div class="col"><img src="{{url_for('static', filename='img/39041716.02b359d3.1200x1200o.3660df674d5d.png')}}" style="width: 339px;height: 408px;margin: 5px;"></div>
            </div>
        </form>
    </div>
{% endblock %}