{% extends 'base.html' %}
    {% block title %}Login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome5-overrides.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Login-Form-Clean.css')}}">
{% endblock %}

{% block content %}
    <section class="login-clean">
        <form method="post">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="fas fa-book-open" style="color: rgb(122,126,132);border-color: rgb(122,126,132);"></i></div>
            <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username" required=""></div>
            <div class="mb-3"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/><input class="form-control" type="password" name="password" placeholder="Password" required=""></div>
            <div class="field" >
                <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
                </label>
            </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(122,126,132)">Log In</button></div>
            <p class="message">Not registered? <a href="{{ url_for('accounts.register') }}">Create an account</a></p>
        </form>
    </section>
    <script src="{{url_for('static', filename='js/clean-blog.js')}}"></script>
{% endblock %}
