{% extends 'base.html' %}
    {% block title %}Profile Card{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Profile-Card.css')}}">
{% endblock %}
{% block content %}
<div style="background: #f1f7fc;">
    <div class="profile-card" style="background: #f1f7fc;">
        <div class="profile-back"></div><img class="img-circle profile-pic" src="{{url_for('static', filename='img/profile-pug.png')}}">
        <h3 class="profile-name">{{user.username}}</h3>
        <h4 class="email">{{user.email}}</h4>
    </div>
    <button onclick="location.href = 'edit_user'" class="btn btn-primary" type="button" >Edit profile</button>
    <button class="btn btn-primary" onclick="history.back()" type="button">Back To Main</button>

</div>
{% endblock %}
