{% extends 'base.html' %}
    {% block title %}Registration{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Pretty-Registration-Form.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class="login-clean" >
        <div class="col-md-8 offset-md-2">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h1>Registration</h1>
                    <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username" required=""></div>
                    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" required=""></div>
                    <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" required=""></div>
                    <div class="mb-3"><input class="form-control" type="password" name="repeat_pas" placeholder="Password" required=""></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(122,126,132)" data-bs-target="#">Register</button></div>
            </form>
            <p class="message">Already have an account? <a href="{{ url_for('accounts.login') }}">Log In!</a></p>
        </div>
    </div>
</div>
{% endblock %}