<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome-all.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <script src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
</head>
<body style="background: #f1f7fc">
 {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
 {% endfor %}
  {% block content %}{% endblock %}
</body>
<footer>
  {% block footer %}
  {% endblock %}
</footer>
